
name: build(duckdb)

on:
  workflow_dispatch:
    inputs:
      version:
        default: 'latest'
        description: 'Package version'
        type: string
        required: true

permissions:
  contents: write
  packages: write

env:
  app_name: 'duckdb'
  app_repo: 'duckdb/duckdb'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get Version
        run: |
          if [ "${{ github.event_name }}" = "schedule" ] || [ "${{ github.event.inputs.version }}" = "latest" ]; then
            app_version=$(curl -s "https://api.github.com/repos/${{ env.app_repo }}/releases/latest" | jq -r .tag_name)
          else
            app_version=${{ github.event.inputs.version }}
          fi
          if [ -z "${app_version}" ] || [ "${app_version}" == "null" ]; then
            echo "Failed to get version"
            exit 1
          fi
          
          echo "app_version=${app_version}" >> $GITHUB_ENV
          echo ""
          echo "========== Build Args =========="
          echo "app_version=${app_version}"

      - name: Check Release
        run: |
          gh release view ${app_version} -R ${{ github.repository }} | grep duckdb_cli-linux-loong64.gz >/dev/null 2>&1 || echo "app_build=1" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v6
        if: env.app_build == '1'
      - uses: docker/setup-qemu-action@v3
        if: env.app_build == '1'
      - uses: docker/setup-buildx-action@v3
        if: env.app_build == '1'
      - uses: docker/login-action@v3
        if: env.app_build == '1'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        if: env.app_build == '1'
        with:
          context: .
          platforms: linux/loong64
          load: true
          push: false
          build-args: |
            RUNNER_ARCH
            VERSION=${{ env.app_version }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ env.app_version }}
          outputs: type=local,dest=./

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG_NAME="${{ env.app_version }}"
          gh release create "${TAG_NAME}" \
            --generate-notes \
            --title "${TAG_NAME}" \
            dist/*